<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.lhjcjy.FirstSearchMapper">
	<select id="searchNotRev" resultType="com.jhta.project.vo.lhjcjy.Room_infoVo">
  		Select * from room_info where riid not in (select riid from reservation where rcheckin is not null)
  	</select>
  	<select id="searchInRev" resultType="com.jhta.project.vo.lhjcjy.AccommodationsVo">
  		select ac.* from accommodations ac, reservation rs, room_info ri where ac.aid = ri.aid and ri.riid = rs.riid 
  		<![CDATA[ and rs.rcheckout <= #{rcheckout}; ]]>
  	</select>
</mapper>

